body {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    background-color: #b1e8d5; /* Updated background color */
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-top: 40px;
}

.container {
    margin: 40px auto;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu-link p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #4a7c59;
}

.social-icons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    color: #333;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #4a7c59;
}

.reservation {
    margin-top: 40px;
    font-size: 1.2em;
    color: #4a7c59;
}

